<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        #submitButton {
            height: 20px;
            width: 70px;
        }
        #searchButton {
            height: 20px;
            width: 70px;
        }
        #addFileButton{
            height: 20px;
            width: 20px;
        }
        #nameSearchTextArea {
            width: 300px;
        }
        #idSearchTextArea {
            width: 300px;
        }
        #authorSearchTextArea{
            width: 300px;
        }
        #submitTextArea {
            width: 400px;
        }
    </style>
</head>
<body style="background-color:powderblue;">
    <h1>
        Welcome to the Database Uploader
    </h1>
    <ul id="navBar">
        <li><a href="/dbupload">Upload</a></li>
        <li><a href="/">Database</a></li>
    </ul>
    <ul>
        <li><a href="/dbfilemanager">File Manager</a></li>
        <li><a href="/uploadtest">Upload test</a></li>
    </ul>
    <p style="font-size:25px;">Upload your files here.</p>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <p id="fileSubmissions">
            <input id="submitTextArea" type="file" name="file" multiple required/>
        </p>
        <!-- <p>
            <button id="addFileButton" onclick="addFile()">+</button>
        </p> -->
        <p>
            Pick a molecule type for the file.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="dna" name="moleculeType" type="radio" value="dna" />
            <label for="dna">DNA</label>&nbsp; -
            <input id="rna" name="moleculeType" type="radio" value="rna" />
            <label for="rna">RNA</label>&nbsp; -
            <input id="dnaRna" name="moleculeType" type="radio" value="dnaRna" />
            <label for="dnaRna">DNA/RNA</label>&nbsp;&nbsp;&nbsp;
        </p>
        <p>
            Molecule name&nbsp;&nbsp;&nbsp;
            <input id="nameTextArea" name="name" type="text" />
        </p>
        <p>
            The category this file can go into.&nbsp;&nbsp;&nbsp;
            
            <!-- <input type="checkbox" name="structural" id="structural" value="structural"/>
            <label for="structural">Structural</label> -->
            <br>
            <input id="structural" name="fileFunctionality" type="checkbox" value="structural" />
            <label for="structural">Structural</label>
            <br>
            <input id="medical" name="fileFunctionality" type="checkbox" value="medical" />
            <label for="medical">Medical</label>
            <br>
            <input id="plasmonics" name="fileFunctionality" type="checkbox" value="plasmonics" />
            <label for="plasmonics">Plasmonics</label>
            <br>
            <input id="syntheticBiology" name="fileFunctionality" type="checkbox" value="syntheticBiology" />
            <label for="syntheticBiology">Synthetic Biology</label>
            <br>
            <input id="other" name="fileFunctionality" type="checkbox" value="other" />
            <label for="other">Other</label>
            <br>
        </p>
        <p>
            <input id="uploadButton" type="submit" value="Upload" />
        </p>
        <!-- <script>
            function addFile() {
                var x = document.createElement("INPUT");
                x.setAttribute("type", "file");
                x.style.width = "400px";
                document.getElementById("fileSubmissions").appendChild("<br/>")
                document.getElementById("fileSubmissions").appendChild(x);
            }
            function resetFiles() {

            }
            function upload() {

                resetFiles();
            }
        </script> -->
    </form>


</body>
</html>